{% extends "base.html" %}

{% block content %}
 <div class="note__form__add">
        <form class="note__form__input" action="#" method="post">
            <div class="message__error">
                {% for msg in get_flashed_messages() %}
                    <div class="flash">{{ msg }}</div>
                {% endfor %}
            </div>
            <br>
            <div class="note__add">
                <input class="note__input" type="text" name="note" value="" placeholder="Введите заметку"/>
                <button class="button__add__note" name="note_add">Добавить</button>
            </div>

            <div class="note__my__list">
                {% if context.notes %}
                    <h1>Все заметки:</h1>
                    <ol class="note__list">
                        {% for note in context.notes %}
                             <li> <span>Заметка: {{ note.text }} </span> </li>
                             <button class="button__del__note" name="del_note" value="{{ note.id }}">Удалить</button>
                        {% endfor %}
                {% else %}
                    <span>Сейчас у Вас нет сохраненных заметок. Вы можете их добавить </span>
                {% endif%}
                </ol>
            </div>
            <br>
        </form>
    </div>

{% endblock %}